@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model test2.Models.CompanyViewModel

<h2>Компания</h2>

<hr>
@using (Html.BeginForm("Edit", "Company", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.Id)
    @*@Html.AntiForgeryToken()*@
    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Address, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Mail, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Mail, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Изменить">
        </div>
    </div>
}

<hr />
<br />
<h4>Позиции в компании</h4>
<br />

<div class="container positions">
    <div class="row">

        @foreach (var position in Model.Positions)
        {
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="../Position/Position" class="thumbnail">
                    
                        <span class="col-md-12 glyphicon glyphicon-user recicon"></span>
                        <label class="col-md-12 text-center text-md"> @position.Name </label>
                        <p class="text-center text-sm">@position.UsersCount человек</p>
                    
                </a>

            </div>

        }
        

        <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="../Position/Create" class="col-md-12 thumbnail add-box">
                <span class="col-md-12 glyphicon glyphicon-plus recicon"></span>
                <label class="col-md-12 text-center text-big">Добавить Позицию</label>
            </a>
        </div>
    </div>
    <hr />
</div>

<br />
<h4>Команды</h4>
<br />
<div class="container commands">
    <div class="row">
        @foreach (var group in Model.Groups)
        {
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="../Group/Edit/@group.Id" class="thumbnail">
                    
                        <span class="col-md-12 glyphicon glyphicon-star recicon"></span>
                        <label class="col-md-12 text-center text-md"> @group.Name </label>
                        <p class="text-center text-sm">@group.EmployeeCount человек</p>
                        
                </a>
            </div>
        }


        <div class="col-md-3  col-sm-6 col-xs-12">
            <a href="../Group/Create/@Model.Id" class="col-md-12 thumbnail add-box">
                <span class="col-md-12 glyphicon glyphicon-plus recicon"></span>
                <label class="col-md-12 text-center text-big">Добавить Команду</label>
            </a>
        </div>
    </div>
</div>

<br />
<h4>Люди</h4>
<br />
<div class="container commands">
<div class="row">
    @foreach (var employee in Model.Employees)
    {
        <div class="col-md-3">
            @if (employee.TestPassed)
            {
                <div class="thumbnail" style="background: rgb(212, 255, 146)">
                    <div class=" col-md-12 user-photo">
                        <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
                    </div>
                    <div class="caption">
                        <h3>@employee.Name</h3>
                        <p>
                            <i>@Model.Positions.First(p => p.Id == employee.IdPosition).Name</i>
                        </p>
                        <p><b>Команда:</b> @Model.Groups.First(g => g.Id == employee.IdGroup).Name</p>
                    </div>
                </div>
            }
            else
            {
                <div class="thumbnail">
                    <div class=" col-md-12 user-photo">
                        <span class="glyphicon glyphicon-user recicon" aria-hidden="true"></span>
                    </div>
                    <div class="caption">
                        <h3>@employee.Name</h3>
                        <p>
                            <i>@Model.Positions.First(p => p.Id == employee.IdPosition).Name</i>
                        </p>
                        <p><b>Команда:</b> @Model.Groups.First(g => g.Id == employee.IdGroup).Name</p>
                    </div>
                </div>
            }
        </div>
    }

    <div class="col-md-3  col-sm-6 col-xs-12">
        <a href="../Company/AddPerson" class="col-md-12 thumbnail add-box">
            <span class="col-md-12 glyphicon glyphicon-plus recicon"></span>
            <label class="col-md-12 text-center text-big">Добавить Человека</label>
        </a>
    </div>
</div>
</div>




