@model test2.Models.EmployeeViewModel


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Добавить работника</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="control-label col-md-2">ФИО: </label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Позиция: </label>
            <div class="col-md-10">
                @{
                    var positionList = new List<SelectListItem>();
                    foreach (var position in ViewBag.Positions)
                    {
                        positionList.Add(
                            new SelectListItem
                            {
                                Text = position.Name, Value = position.Id.ToString()
                            });
                    }
                }

                @Html.DropDownListFor(model => model.Position[0], positionList, "Выберите вариант", new { @class = "form-control" })
                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Группа: </label>
            <div class="col-md-10">
                @{
                    var groupList = new List<SelectListItem>();
                    foreach (var group in ViewBag.Groups)
                    {
                        groupList.Add(
                            new SelectListItem
                            {
                                Text = group.Name,
                                Value = group.Id.ToString()
                            });
                    }
                }

                @Html.DropDownListFor(model => model.Group[0], groupList , "Выберите вариант", new { @class = "form-control" })
                
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}